{% extends 'polls/base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<div class="row justify-content-center">

        <h1 class="row justify-content-center">{{ post.title }}</h1>
        <div class="col-md-5 col-sm-12">
        <br/><br/>
        <small>By:
            {{ post.author.first_name }}
            {{ post.author.last_name }} -
            {{ post.post_date }}

            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - <a href="{% url 'update_post' post.pk %}" class="bi bi-pencil-square"></a>
                    <a href="{% url 'delete_post' post.pk %}" class="bi bi-trash"></a>
                {% endif %}
            {% endif %}
        </small><br/>
        <hr>
        <br/>
        {% if post.header_image %}
            <img src='{{ post.header_image.url }}' width="530px" height="300px">
        {% endif %}

        <br/><br/>
        {{ post.body|safe }}


        <br/><br/>
        <!-- <a href="{% url 'home' %}" class="btn btn-secondary">Back</a> -->
        <hr>
        <br/>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm bi bi-hand-thumbs-up-fill"></button> <!--Unlike -->
                {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm bi bi-hand-thumbs-up"></button> <!--Like -->
                {% endif %}
            {% else %}
                <small><a href="{% url 'login' %}">Login</a> to like</small>
            {% endif %}
            - <div class="badge bg-primary rounded-pill">{{ total_likes }}</div>
        </form>

        <br/>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-2">
                {% if post.author.profile.profile_pic %}
                      <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                      <img src="{% static 'polls/images/default_profile_pic.png' %}" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">
                    {{ post.author.first_name }}
                    {{ post.author.last_name }}
                </h5>
                <p class="small text-muted">

                    {% if post.author.profile.website_url %}
                        | <a href="{{ post.author.profile.website_url }}">Website</a>
                    {% endif %}

                    {% if post.author.profile.facebook_url %}
                        | <a href="{{ post.author.profile.facebook_url }}" class="bi bi-facebook"></a>
                    {% endif %}

                    {% if post.author.profile.twitter_url %}
                        | <a href="{{ post.author.profile.twitter_url }}" class="bi bi-twitter"></a>
                    {% endif %}

                    {% if post.author.profile.instagram_url %}
                        | <a href="{{ post.author.profile.instagram_url }}" class="bi bi-instagram"></a>
                    {% endif %}

                    {% if post.author.profile.pinterest_url %}
                        | <a href="{{ post.author.profile.pinterest_url }}" class="bi bi-pinterest"></a>
                    {% endif %}
                </p>
                <p class="card-text">{{ post.author.profile.bio }}</p>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <h1>Comments...</h1>
        <br/>
        {% if not post.comments.all %}
            No Comments Yet... <a href="{% url 'add_comment' post.pk %}">Add One</a>
        {% else %}

        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        <br/><br/>

            {% for comment in post.comments.all %}
                <strong>
                    {{ comment.name }} - {{ comment.date_added }}
                </strong>
                <br/>
                {{ comment.body }}
                <br/><br/>
            {% endfor %}
                <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        {% endif %}
        <br/>
        <br/><br/>
    </div>
</div>
{% endblock %}