{% extends 'polls/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
        <h1 class="row justify-content-center">Post</h1>
        </div>
    </div>

    {% for post in object_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">

            {% if page_user.profile_pic %}
                <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
                <img src="{{ 'static/polls/images/default_profile_pic.png' }}" class="img-fluid rounded-start" alt="..." width="40px" height="40px">
            {% endif %}

                - {{ post.author.first_name }}
                {{ post.author.last_name }} -
                {{ post.post_date }}

            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - <a href="{% url 'update_post' post.pk %}" class="bi bi-pencil-square"></a>
                    <a href="{% url 'delete_post' post.pk %}" class="bi bi-trash"></a>

                {% endif %}
            {% endif %}

            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> -
            <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>


            {% if post.header_image %}
                <img src='{{ post.header_image.url }}' width="530px" height="300px">
            {% endif %}
            <br/>

            {{ post.snippet }}
            <!-- {{ post.body|slice:":200"|safe }} -->
            <br/><br/>
        </div>
    </div>
    {% endfor %}
</div>

<br/><br/>

{% endblock %}