{% extends 'polls/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
                <h1>Post</h1>
        </div>
    </div>

    {% for post in object_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">

            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
                - {{ post.author.first_name }}
                {{ post.author.last_name }} -
                {{ post.post_date }}

                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                            <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                        {% endif %}
                    {% endif %}
                <br/>

                {{ post.snippet }}
                <!-- {{ post.body|slice:":200"|safe }} -->
            </div>
        </div>
        {% endfor %}
    </div>

<br/><br/>

{% endblock %}