{% extends 'polls/base.html' %}
{% block title %}Edit Profile Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
    <div class="row justify-content-center">
        <h1 class="row justify-content-center">Edit Profile Page...</h1>
        <div class="col-md-6 col-sm-12">
            <br/><br/>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update Profile Page</button>
                </form>
            </div>
        </div>
    </div>

    <br/><br/>

    {% else %}
        You are not the correct User To Edit This Page
    {% endif %}

{% else %}
    You're not allowed here! (and you know it...)
{% endif %}

{% endblock %}