{% extends 'polls/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="delete-page card" style="max-width: 540px; margin: 50px 500px;">
    <div class="row align-items-center g-0">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button class="mt-3 btn btn-dark btn-block" type="submit">Register</button>
                    </div>
                    <div class="">Not Registered? Sign Up <a href="{% url 'register' %}" class="text-decoration-none">Here...</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}